{% extends 'base.html.twig' %}

{% block title %}Statistics!{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="page-header">
        <div class="mt-4 mb-4 p-3 bg-primary text-white rounded">
            <h1 class="text-center">Auswertung von Serverzugriffen von EPA</h1>
        </div>
    </div>

    <div class="row row-cols-lg-2 g-2 g-lg-3">

        <div class="col">
            <div class="card">
                <div class="card-header"><h4 class="card-title">HTTP Methoden</h4></div>
                <div class="card-body chart-container">
                    {{ render_chart(chart1, {'class': 'method'}) }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header"><h4 class="card-title">Requests pro Minute</h4></div>
                <div class="card-body chart-container">
                    {{ render_chart(chart2, {'class': 'requests'}) }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header"><h4 class="card-title">Antwortcodes</h4></div>
                <div class="card-body chart-container">
                   {{ render_chart(chart3, {'class': 'responseCodes'}) }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header"><h4 class="card-title">Antwortgrösse</h4></div>
                <div class="card-body chart-container">
                    {{ render_chart(chart4, {'class': 'documentSize'}) }}
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
