{% extends 'base.html.twig' %}

{% block title %}Statistics!{% endblock %}

{% block body %}
    <script type="text/javascript">
        let width, height, gradient;
        function getGradient(ctx, chartArea) {
            const chartWidth = chartArea.right - chartArea.left;
            const chartHeight  = chartArea.bottom - chartArea.top;
            if (!gradient || width !== chartWidth || height !== chartHeight) {
                // Create the gradient because this is either the first render
                // or the size of the chart has changed
                width = chartWidth;
                height = chartHeight;
                gradient = ctx.createLinearGradient(0, chartArea.bottom, 0, chartArea.top);
                gradient.addColorStop(0, Utils.CHART_COLORS.blue);
                gradient.addColorStop(0.5, Utils.CHART_COLORS.yellow);
                gradient.addColorStop(1, Utils.CHART_COLORS.red);
            }

            return gradient;
        }
    </script>
<div class="container-fluid">

    <div class="page-header">
        <div class="mt-4 mb-4 p-3 bg-primary text-white rounded">
            <h1 class="text-center">Auswertung von Serverzugriffen von EPA</h1>
        </div>
    </div>

    <div class="row row-cols-lg-2 g-2 g-lg-3">

        <div class="col">
            <div class="card">
                <div class="card-header"><h4 class="card-title">Requests pro Minute</h4></div>
                <div class="card-body chart-container">
                    {{ render_chart(chart2, {'class': 'requests', 'data-controller': 'logviewerCharts'}) }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header"><h4 class="card-title">HTTP Methoden</h4></div>
                <div class="card-body chart-container">
                    {{ render_chart(chart1, {'class': 'method'}) }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header"><h4 class="card-title">Antwortcodes</h4></div>
                <div class="card-body chart-container">
                   {{ render_chart(chart3, {'class': 'responseCodes'}) }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header"><h4 class="card-title">Antwortgrösse < 1000 bytes</h4></div>
                <div class="card-body chart-container">
                    {{ render_chart(chart4, {'class': 'documentSize'}) }}
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
